h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color :blueviolet;
    text-align: center;
    text-shadow: 0cqmax;
}
h2{
    text-align: center;
    color: brown;
    background-image: url(C:\Users\bouch\Pictures\maquette_snics\Sans_titre.png);
    

}
h3{
    position: absolute;
}
h4{
    text-align: center;
    color: rgb(116, 79, 32);
    width: 126px;
    background-color: aqua;   

}